@font-face {
    font-family: maru-gothic-med;
    src: url(../font/ZenMaruGothic-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(240, 255, 239, 0.608);
}

#top{
    background: url(../IMG/bg-top.jpg);
    min-height: 619px;
    background-repeat: no-repeat;

}

.title{
    padding-left: 68px;
}

.menu{
    padding-top: 18px;
    text-align: center;
    ;
}

#sub-title{
    position: relative;
    justify-content: center;
}

#wrapper .menu #kare-menu, #ramen-menu, #hitsumabushi-menu{
    position: relative;
    width: 30%;
    padding-left: 30px;
    justify-content: center;
}

#wrapper {
    width: 100%;
    max-width: 990px;
    background-color: white;
    margin: 0 auto;
}

#content{
    background: url(../IMG/bg-content.jpg);
    max-width: 990px;
    margin: 0 auto;
    min-height: 2665px;
}

#kare-judul{
    position: absolute;
    left: auto;
    top: 800px;
}

#kare-foto{
    position: relative;
    top: 40px;
    float: left;
}

h2{
    color: rgb(13, 32, 130);
    font-family: maru-gothic-med;
    font-size: 45px;
    font-weight: bold;
}

#content #menu01 h2{
    position: relative;
    top: 365px;
}

.desc{
    color: rgb(13, 32, 130);
    font-family: maru-gothic-med;
    font-size: 32px;
    font-weight: 600;
    line-height: 60px;
}

#content #menu01 .desc{
    padding-top: 410px;
    padding-left: 90px;
}

.note{
    color: red;
    font-size: 23px;
    font-family: maru-gothic-med;
}

#content #menu01 .note{
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 6%;
}

#ramen-judul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    left: auto;
    position: absolute;
}

#ramen-foto{
    position: relative;
    padding-left: 600px;
    float: right;
    top: -100px;
}

#content #menu02 h2{
    position: relative;
    top: -380px;
    left: 80px;
}

#content #menu02 #ramen-desc{
    position: relative;
    padding-left: 80px;
    top: -330px;
}

#content #menu02 .note{
    position: relative;
    top: -300px;
    padding-left: 80px;
}

#hitsumabushi-judul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    left: auto;
    position: absolute;
    top: 2440px;
}

#hitsumabushi-foto{
    position: relative;
    float: left;
    top: -250px;
}

#hitsumabushi-desc{
    position: absolute;
    padding-left: 80px;    
    top: 2950px;
}
#content #menu03 h2{
    position: relative;
    top: 25px;
}

#content #menu03 .note{
    position: absolute;
    top: 3230px;
    padding-left: 80px;
}

#bottom{
    background: url(../IMG/bg-bottom.jpg);
    min-height: 516px;
    max-width: 990px;
    margin: 0 auto;

}