@font-face {
    font-family: maru-gothic-med;
    src: url(../font/ZenMaruGothic-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(240, 255, 239, 0.608);
}

#top{
    background: url(../IMG/bg-top.jpg);
    min-height: 619px;
    background-repeat: no-repeat;

}

.title{
    padding-left: 68px;
}

.menu{
    padding-top: 18px;
    text-align: center;
    ;
}

#sub-title{
    position: relative;
    justify-content: center;
}

#wrapper .menu #kare-menu, #ramen-menu, #hitsumabushi-menu{
    position: relative;
    width: 30%;
    padding-left: 30px;
    justify-content: center;
}

#wrapper {
    width: 100%;
    max-width: 990px;
    background-color: white;
    margin: 0 auto;
}

#menu01{
    background: url(../IMG/bg-1_02.jpg);
    max-width: 990px;
    margin: 0 auto;
}

#content #menu01 #kare-judul{
    position: absolute;
    left: auto;
    top: 800px;
}

#content #menu01 #kare-foto{
    position: relative;
    top: 40px;
    float: left;
}

#content #menu01 h2{
    color: rgb(13, 32, 130);
    font-family: maru-gothic-med;
    position: relative;
    top: 365px;
    font-size: 45px;
    font-weight: bold;

}

#content #menu01 #desc{
    color: rgb(13, 32, 130);
    font-family: maru-gothic-med;
    padding-top: 410px;
    padding-left: 90px;
    font-size: 32px;
    font-weight: 600;
    line-height: 60px;
}

#content #menu01 #note{
    color: red;
    padding-left: 90px;
    padding-top: 20px;
    font-size: 23px;
    font-family: maru-gothic-med;
}

#menu02{
    background: url(../IMG/bg-2.jpg);
    min-height: 832px;
    max-width: 990px;
    margin: 0 auto;
}

#ramen-judul{
    position: absolute;
    left: auto;
    padding-left: 1040px;
    top: 1500px;
}